body {
    display: flex;
    min-height: 90vh;
    justify-content: center ;
    align-items: center;
}
#sketchTool {
    background-color:rgb(255, 0, 0);
    width: 1000px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: rgb(196, 20, 20) 30px outset;
}
#sketchBox {
    background-color: rgb(251, 229, 229);
    display: flex;
    width: 480px;
    height: 480px;
    flex-wrap: wrap;
    border: inset 30px rgb(196, 20, 20);
    border-radius: 10px; 
}

